@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-text {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #0070f3;
  font-weight: 700;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #0070f3;
}

.features-list, .tech-stack {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 400px;
}

.features-list li, .tech-stack li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.tech-stack li img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tech-stack li {
  justify-content: flex-start;
}

.techimg {
  width: 48px !important;
  height: 48px !important;
}

.tech-stack-div {
  justify-content: center;
  display: flex;
}
